<!DOCTYPE html>
<html>
<head>
{{ if eq .Nature "NEW" }}
<title>PunchInvoice</title>
{{ else if eq .Nature "EDIT" }}
<title>EditInvoice</title>
{{ end }}
<script src="/static/lib/angular/angular.min.js"></script>
<script src="/static/lib/angular/angular-resource.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/services.js"></script>

<!-- Standard Favicon -->
<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/114.png">

<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/72.png">

<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="/static/img/57.png">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
<link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
<script>
var appMod = angular.module('crmapp', ['services']);
appMod.config(['$resourceProvider', function($resourceProvider) {
    // Don't strip trailing slashes from calculated URLs
    $resourceProvider.defaults.stripTrailingSlashes = false;
    }]);
appMod.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('||');
    $interpolateProvider.endSymbol('||');
    });

appMod.controller('NewInvoiceController', ['$scope', '$q', 'INVOICES', 'PENDINGORDERS', 'PURCHASERS', function($scope, $q, INVOICES, PENDINGORDERS, PURCHASERS) {
    var NewOrEdit = {{.Nature }};

    function FetchSuppliers(){
    $scope.availableSuppliers = ["Standard", "Omega"];
    }
    $scope.DefaultCaseTypes = DefaultCaseTypes();
    $scope.DefaultPelletSizes = DefaultPelletSizes();
    $scope.DefaultCaseSizes = DefaultCaseSizes();

    $scope.DateChanged = function() {
    $scope.dateDiffFromTodayAsText = GetDateDiffAsText($scope.invoice.Date);
    }

    $scope.InvoiceTotalQty = function(){
    var oItems = $scope.invoice.Items;
    var t = 0;
    for(var i=0; i < oItems.length; i++) {
    var oItem = oItems[i];
    t += parseInt(oItem.Qty);
    }
    return t;
    }

    $scope.InvoiceGoodsValue = function(){
      var oItems = $scope.invoice.Items;
      var t = 0;
      for(var i=0; i < oItems.length; i++) {
        var oItem = oItems[i];
        t += parseInt(oItem.Qty * oItem.Rate);
      }
      return t;
    }

    $scope.updateTotalQtyAndAmount = function() {
      var oItems = $scope.invoice.Items;

      $scope.invoice.TotalQty=0;
      $scope.invoice.TotalAmount=0;
      for(var i=0; i < oItems.length; i++) {
        var oItem = oItems[i];
        $scope.invoice.TotalQty += parseInt(oItem.Qty);
        $scope.invoice.TotalAmount += parseInt(oItem.Qty * oItem.Rate);
      }

    }

    $scope.PurchaserChange = function() {
      $scope.invoice.PurchaserId = $scope.selectedPurchaser.Id;
      FetchPendingOrders().then(ClubPendingOrdersAndInitializeInvoice).then(StopSpinner);
    }

    $scope.punchInvoice = function() {
      StartSpinner();
      INVOICES.save($scope.invoice).$promise.then(function(invoice){
          $scope.statusNote = "Invoice saved with id: " + invoice.Id;
          window.location = "/invoice/" + invoice.Id;
          }, function(error){
          $scope.statusNote = error.status + ": " + error.data;
          StopSpinner();
          });
    }


    FetchPurchasers = function(){
      $scope.working = true;
      var p = PURCHASERS.query().$promise;
      p.then(function(purchasers){
          $scope.purchasers = purchasers;
          }, function(error){
          var errMsg = error.status + ": " + error.data;
          $scope.statusNote = errMsg;
          });
      return p;
    }

    FetchPendingOrders = function(){
      StartSpinner();
      var p = PENDINGORDERS.get({id: $scope.invoice.PurchaserId}).$promise;
      p.then(function(pendingOrders){
          for(var i=0; i< pendingOrders.length; i++){
          // Convert the date as displayable dd_mm_yy
          var o = pendingOrders[i];
          o.dd_mmm_yyyy = DDMMMYYFromUnixTime(JSDateToUnixTime(new Date(o.Date)));
          }
          $scope.pendingOrders = pendingOrders;
          }, function(error){
          var errMsg = error.status + ": " + error.data;
          $scope.statusNote = errMsg;
          });
      return p;
    }

    FetchInvoice = function(){

      invoiceId = document.URL.split("/")[4];
      var p = INVOICES.get({id: invoiceId}).$promise;
      p.then(function(invoice){
          $scope.invoice = invoice;
          for(var i=0; i<$scope.purchasers.length; i++){
          var pur = $scope.purchasers[i];
          if(pur.Id == invoice.PurchaserId){
          $scope.selectedPurchaser = pur;
          }
          }
          $scope.invoice.Date = new Date(invoice.Date);
          }, function(error){
          var errMsg = error.status + ": " + error.data;
          $scope.statusNote = errMsg;
          });
      return p;
    }

    StartSpinner = function(){
      $scope.working = true;
    }
    StopSpinner = function(){
      $scope.working = false;
    }
    FetchSuppliers();

    IsSkuSame = function(sku1, sku2){
      attributes = [ "Type", "CRemarks", "PelletSize", "BoreSize", "CaseSize", "CaseType", "Name", "Unit", "Rate" ];
      for(var i =0; i<attributes.length; i++){
        var attribute = attributes[i];
        if( sku1[attribute] != sku2[attribute]) {
          return false;
        }
      }
      return true;

    }
    ClubPendingOrdersAndInitializeInvoice = function(){
      var invoicableItems = angular.copy($scope.selectedPurchaser.SKUs);
      for(var i = 0; i< invoicableItems.length; i++){
        invoicableItems[i].Qty = 0;
      }

      for (var i = 0; i < $scope.pendingOrders.length; i++){
        var pendingOrder = $scope.pendingOrders[i];
        for(var j=0; j < pendingOrder.PendingItems.length; j++){
          var pendingItem = pendingOrder.PendingItems[j];
          var added = false;
          for(var k =0; k < invoicableItems.length; k++){
            var invoicableItem = invoicableItems[k];
            if(IsSkuSame(invoicableItem, pendingItem)){
              invoicableItem.Qty += pendingItem.Qty;
            }
          }
        }
      }

      $scope.invoice.Items = invoicableItems;
      return;
    }

    init();

    function init(){
      $scope.working = true;
      $scope.invoice = {};
      $scope.invoice.Items = [];

      if(NewOrEdit == "NEW"){
        $scope.invoice.Date = new Date();
        FetchPurchasers().then(StopSpinner);
      }
      if (NewOrEdit == "EDIT"){
        FetchPurchasers().then(FetchInvoice).then(StopSpinner);
      }
    }

}]);

</script>
</head>
<body ng-app="crmapp" ng-controller="NewInvoiceController">
<div class="well">
  <a href="/"><img class="center-block" src="/static/img/57.png" /></a>
  {{ if eq .Nature "NEW" }}
  <h1 class="text-center">Punch Invoice</h1>
  {{ else if eq .Nature "EDIT" }}
  <h1 class="text-center">Edit Invoice</h1>
  {{ end }}
  <div id="statusNote" ng-bind="statusNote"></div>
  <div id="statusNote" > Deleting an invoice should change related orders also and change pending items back to normal.</div>
</div>
<div class="container">
  <div class="row"><!-- PO Global Details Row -->
    <div class="col-xs-6">
      <select ng-model="invoice.SupplierName" class="form-control" ng-options="k as k for k in availableSuppliers">
        <option value='' disabled selected style='display:none;'></option>
      </select>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <select ng-model="selectedPurchaser" class="form-control" ng-options="k as k.Name for k in purchasers" ng-change="PurchaserChange()">
            <option value='' disabled selected style='display:none;'></option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button class="form-control btn btn-link">+ (TODO)</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <input ng-model="invoice.Number" type="text" class="form-control" placeholder="Invoice#"></input>
    </div>
    <div class="col-xs-6 col-sm-4">
      <input required class="center-block" autofocus="true" title="PO Date" type="date" ng-model="invoice.Date" ng-change="DateChanged()" />
      <div class="text-center" ng-bind="dateDiffFromTodayAsText"></div>
    </div>
  </div><!-- PO Global Details Row -->

  <hr>

  <div ng-show="working"> <!-- show=working -->
    <img class="center-block" src="/static/img/working.gif" />
  </div> <!-- show=working -->

  <div ng-show="!working"> <!-- show=!working -->
    <div ng-show="invoice.SupplierName && selectedPurchaser && invoice.Number && invoice.Date">
      <div ng-show="(invoice.Items.length > 0)"> <!-- ngshow invoice preview-->

        <div class="well">
          <h3 class="text-center"> Invoice Preview</h3>
          <div class="panel panel-success"> <!-- locked invoice panel -->
            <table class="table table-striped table-condensed panel-body">
              <thead>
                <tr>
                  <th>Pellet</th>
                  <th>Case</th>
                  <th>Type</th>
                  <th>Bore/Item</th>
                  <th>Qty</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Unit</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td>Total:</td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> <b><span ng-bind="InvoiceTotalQty()"></span></b> </td>
                  <td> </td>
                  <td> <b><span>&#8377;</span><span ng-bind="InvoiceGoodsValue()"></span></b> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                </tr>
              </tfoot>
              <tr ng-repeat="oItem in invoice.Items" ng-if="oItem.Qty > 0">
                <td><span ng-bind="oItem.PelletSize"></span></td>
                <td><span ng-bind="oItem.CaseSize"></span></td>
                <td><span ng-bind="oItem.CaseType"></span></td>
                <td ng-if="oItem.Type=='TCD'"><strong><span ng-bind="oItem.BoreSize"></span></strong></td>
                <td ng-if="oItem.Type=='MSC'"><strong><span ng-bind="oItem.Name"></span></strong></td>
                <td><span ng-bind="oItem.Qty"></span></td>

                <td><span>&#8377;</span><span ng-bind="oItem.Rate"></span></td>
                <td><span>&#8377;</span><span>||oItem.Qty*oItem.Rate||</span></td>
                <td><span ng-bind="oItem.Unit"></span></td>
                <td><span ng-bind="oItem.CRemarks" class="red"></span></td>
              </tr>

            </table>
          </div> <!-- invoice preview panel -->

          <div class="row" ng-if="invoice.PRemarks">
            Public Remarks:<span>||invoice.PRemarks||</span>
          </div>
          <div class="container">
            <label class="checkbox"><input ng-model="invoice.DoNotMoveStock" type="checkbox">Do not move stock</label>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
              {{ if eq .Nature "NEW" }}
              <button ng-click="punchInvoice()" class="btn btn-lg btn-info btn-block">Punch Invoice</button>
              {{ else if eq .Nature "EDIT" }}
              <button ng-click="punchInvoice()" class="btn btn-lg btn-info btn-block">Save</button>
              {{ end }}
            </div>
          </div>
        </div>

        <hr>

      </div> <!--ngshow invoice preview-->

      <form>
        <div class="well">
          <h4 class="text-center"> Input Order</h4>
          <div class="panel panel-warning"> <!-- Input order panel -->
            <table class="table table-striped table-condensed panel-body">
              <thead>
                <tr>
                  <th>Pellet</th>
                  <th>Case</th>
                  <th>Type</th>
                  <th>Bore</th>
                  <th>Unit</th>
                  <th class="col-xs-6">Qty</th>
                  <th>Rate</th>
                  <th>Remarks</th>
                  <th></th>
                </tr>
              </thead>

              <tr ng-repeat="item in invoice.Items">
                <td><span ng-bind="item.PelletSize"></span></td>
                <td><span ng-bind="item.CaseSize"></span></td>
                <td><span ng-bind="item.CaseType"></span></td>
                <td ng-if="item.Type == 'TCD'"><span ng-bind="item.BoreSize"></span></td>
                <td ng-if="item.Type == 'MSC'"><span ng-bind="item.Name"></span></td>
                <td><span ng-bind="item.Unit"></span></td>
                <td><span class="input-group"><span class="input-group-addon">Qty</span><input ng-init="item.Qty" type="number" class="form-control col-xs-8" ng-model="item.Qty"></span></td>
                <td><span>&#8377;</span><span ng-bind="item.Rate"></span></td>
                <td><input ng-model="item.CRemarks" type="text" class="form-control"></input></td>
              </tr>
            </table>
          </div> <!-- item templates panel -->

          <input class="form-control" ng-model="invoice.PRemarks" placeholder="Any public remarks..."></input>

        </div><!-- well-->
      </form>


      <hr>
      <div ng-show="(pendingOrders.length > 0)"> <!-- ngshow pending orders tables-->

        <div class="well">
          <h2 class="text-center"> Pending Items</h2>
          <div class="panel panel-success" ng-repeat="pendingOrder in pendingOrders">
            <table class="table table-striped table-condensed panel-body">
              <div class="panel-heading">PO#||pendingOrder.Number|| dt || pendingOrder.dd_mmm_yyyy||</div>
              <thead>
                <tr>
                  <th>Pellet</th>
                  <th>Case</th>
                  <th>Type</th>
                  <th>Bore/Item</th>
                  <th>Qty</th>
                  <th>Rate</th>
                  <th>Unit</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tr ng-repeat="oItem in pendingOrder.PendingItems">
                <td><span ng-bind="oItem.PelletSize"></span></td>
                <td><span ng-bind="oItem.CaseSize"></span></td>
                <td><span ng-bind="oItem.CaseType"></span></td>
                <td ng-if="oItem.Type=='TCD'"><strong><span ng-bind="oItem.BoreSize"></span></strong></td>
                <td ng-if="oItem.Type=='MSC'"><strong><span ng-bind="oItem.Name"></span></strong></td>
                <td><span ng-bind="oItem.Qty"></span></td>
                <td><span>&#8377;</span><span ng-bind="oItem.Rate"></span></td>
                <td><span ng-bind="oItem.Unit"></span></td>
                <td><span ng-bind="oItem.CRemarks" class="red"></span></td>
              </tr>
            </div>
          </table>
        </div> <!-- well -->

        <hr>

      </div> <!--ngshow Pending orders tables -->


    </div><!-- ng-show-->
  </div> <!-- show=!working -->
</div> <!-- container -->
<ul>
  <li><a href="/order/new">New Order</a></li>
</ul>
</body>
</html>
